*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
h3{
    
    padding: 2px;
    margin: 1em;
}
button{
    justify-content: right;
}
.ligneone{
    display: flex;
    justify-content:left;
    background-color: rgb(86, 81, 81);
    margin: 1em;
    border: none;
    border-radius: 5%;
}
#zero:hover{
    background-color: 2px solid pink;
    border: 2px solid white;
    color: rgb(208, 139, 198);
}
#one:hover{
    background-color: 2px solid pink;
    border: 2px solid white;
    color: rgb(208, 139, 198);
}
#two:hover{
    background-color: 2px solid pink;
    border: 2px solid white;
    color: rgb(208, 139, 198);
}
#three{
    background-color: palevioletred;
    justify-content: left;
    position:relative;
}
.biography{
    font-size: smaller;
    text-align: center;
    color: pink;
    background-image: url("./OIP\(2)\.webp" ),url("./leschatsgourmets-crepes-sans-lactose-au-lait-davoine-1200x732.webp"),url("./R.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    /* background-color: black; */
    height: 95vh;
    margin: 20px;
    /* width: 100%; */
}
#bande{
    justify-content:left;
    background-color: pink;
    margin: 1em;
    border: none;
    border-radius: 1%;
    text-align: center;
}
.recettes{
    display: flex;
    border-radius: 20%;
}
#CREPES{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
    height: 40vh;
    background-color: pink;
    margin: 5%;
    border-radius: 5%;
}
    /* justify-content: center; */

h1{
    text-align: center;
    padding: 10px;
}
#GAUFRES{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
    height: 40vh;
    background-color: pink;
    margin: 5%;
    border-radius: 5%;
}
}
#CUPCAKES{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
    height: 40vh;
    background-color: pink;
    margin: 5%;
    border-radius: 5%;
}
#TARTES{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    height: 40vh;
    background-color: pink;
    margin: 5%;
    border-radius: 5%;
}
